<h1><%= @sub.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to "View Topics", sub_topics_path(@sub) %>
<br />
<%= link_to "Edit", edit_sub_path(@sub)%>
<br />
<%= link_to "Delete", @sub, method, :delete %>
<br />
<br />
<button> <%= link_to "View Subs", subs_path %> </button>